pyrofork==2.3.45
tgcrypto 
pymongo==4.8.0 
motor==3.5.1 
marshmallow==3.18.0 
umongo==3.1.0 
git+https://github.com/Joelkb/cinemagoer 
search_engine_parser 
wget 
aiofiles 
ffmpeg 
requests 
aiohttp  
ujson 
pyshorteners 
datetime 
pytz 
python-math 
speedtest-cli 
shortzy 
fuzzywuzzy 
wheel 
gunicorn==20.1.0 
werkzeug==2.0.2 
Flask 
itsdangerous==2.0.1 
python-Levenshtein
pyrogram
